@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  padding: 0;
  margin: 0;
}
